.card {
  display: inline-block;
  transform: scale(1);
  transition: .2S linear;
}

.card:hover {
  transform: scale(1.025);
}

.date {
  color:rgba(87, 184, 255, 1);
  font-size: Clamp(11px, 1.5vw, 16px);
  margin: 30px 0 20px;
}

.title {
  font-size: Clamp(11px, 1.5vw, 23px);
  text-transform: capitalize;
  line-height: 1.48;
}

.poster img{
  width: 100%;
}

@media screen and (max-width:630px)  {
  .date {
    margin: 10px 0;
  }
}
